<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MindCheckApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MindCheck"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Splash Screen (Launcher) -->
        <activity
            android:name=".presentation.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MindCheck">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".presentation.auth.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Register Activity -->
        <activity
            android:name=".presentation.auth.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Onboarding Activity -->
        <activity
            android:name=".presentation.onboarding.OnboardingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Main Activity (Dashboard) -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Breathing Exercises Activity -->
        <activity
            android:name=".presentation.breathing.BreathingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Analytics Activity -->
        <activity
            android:name=".presentation.analytics.AnalyticsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Screening History Activity -->
        <activity
            android:name=".presentation.screening.ScreeningHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Settings Activity -->
        <activity
            android:name=".presentation.settings.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- About Activity -->
        <activity
            android:name=".presentation.about.AboutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>